PORT=<Port number>
MONGO_HOST=<MongoDB host>
MONGO_PORT=<MongoDB port number>
MONGO_DB=<MongoDB database name>

JWT_SECRET=<json web token secret key>
RESET_PASSWORD_SECRET=<reset password jwt secret key>

SENDGRID_API_KEY=<Sendgrid api key>

CLOUD_NAME=<Cloudinary name>
CLOUD_KEY=<Cloudinary key>
CLOUD_SECRET=<Cloudinary secret>

REDIS_PORT=<Redis port>
REDIS_HOST=<Redis host>